<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<dict>
		<key>Easy</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Medium</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Hard</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>Wizarding World</key>
	<dict>
		<key>Easy</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Medium</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Hard</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>Spells</key>
	<dict>
		<key>Easy</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Medium</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Hard</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Score</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
