<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Easy</key>
	<array>
		<dict>
			<key>Question</key>
			<string>What is the spell that Harry used to defeat Voldemort in their final encounter?</string>
			<key>Correct Answer</key>
			<string>Expelliarmus</string>
			<key>Answer 1</key>
			<string>Expelliarmus</string>
			<key>Answer 2</key>
			<string>Accio</string>
			<key>Answer 3</key>
			<string>Crucio</string>
			<key>Answer 4</key>
			<string>Diffindo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of the Wingardium Leviosa spell?</string>
			<key>Correct Answer</key>
			<string>Levitation</string>
			<key>Answer 1</key>
			<string>Pain</string>
			<key>Answer 2</key>
			<string>Levitation</string>
			<key>Answer 3</key>
			<string>Summoning</string>
			<key>Answer 4</key>
			<string>Death</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these spells is not an unforgivable curse?</string>
			<key>Correct Answer</key>
			<string>Lumos</string>
			<key>Answer 1</key>
			<string>Lumos</string>
			<key>Answer 2</key>
			<string>Imperio</string>
			<key>Answer 3</key>
			<string>Crucio</string>
			<key>Answer 4</key>
			<string>Avada Kedavra</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the punishment for using an unforgivable curse?</string>
			<key>Correct Answer</key>
			<string>A life sentence in Askaban</string>
			<key>Answer 1</key>
			<string>Detention</string>
			<key>Answer 2</key>
			<string>A life sentence in Askaban</string>
			<key>Answer 3</key>
			<string>No punishment</string>
			<key>Answer 4</key>
			<string>Execution</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the spell that unlocks a locked door?</string>
			<key>Correct Answer</key>
			<string>Alohamora</string>
			<key>Answer 1</key>
			<string>Levicorpus</string>
			<key>Answer 2</key>
			<string>Expulso</string>
			<key>Answer 3</key>
			<string>Alohamora</string>
			<key>Answer 4</key>
			<string>Incendio</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the spell that Hermione uses to fix Harry&apos;s glasses in the first novel?</string>
			<key>Correct Answer</key>
			<string>Reparo</string>
			<key>Answer 1</key>
			<string>Reparo</string>
			<key>Answer 2</key>
			<string>Sectumsempra</string>
			<key>Answer 3</key>
			<string>Reducto</string>
			<key>Answer 4</key>
			<string>Stupefy</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of the Stupefy spell?</string>
			<key>Correct Answer</key>
			<string>Stunning</string>
			<key>Answer 1</key>
			<string>Explosion</string>
			<key>Answer 2</key>
			<string>Stinging</string>
			<key>Answer 3</key>
			<string>Stunning</string>
			<key>Answer 4</key>
			<string>Transfiguration</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Remus Lupin teach the class to fight off a Boggart?</string>
			<key>Correct Answer</key>
			<string>Riddikulus</string>
			<key>Answer 1</key>
			<string>Riddikulus</string>
			<key>Answer 2</key>
			<string>Scourgify</string>
			<key>Answer 3</key>
			<string>Sonorus</string>
			<key>Answer 4</key>
			<string>Imperio</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the spell that Harry learns from Snape&apos;s old Potions textbook?</string>
			<key>Correct Answer</key>
			<string>Sectumsempra</string>
			<key>Answer 1</key>
			<string>Portus</string>
			<key>Answer 2</key>
			<string>Alakazam</string>
			<key>Answer 3</key>
			<string>Sectumsempra</string>
			<key>Answer 4</key>
			<string>Periculum</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell is effective when fighting off Dementors?</string>
			<key>Correct Answer</key>
			<string>Expecto Patronum</string>
			<key>Answer 1</key>
			<string>Expecto Patronum</string>
			<key>Answer 2</key>
			<string>Erecto</string>
			<key>Answer 3</key>
			<string>Dissendium</string>
			<key>Answer 4</key>
			<string>Confundo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell causes the victim to become confused and befuddled?</string>
			<key>Correct Answer</key>
			<string>Confundo</string>
			<key>Answer 1</key>
			<string>Muffliato</string>
			<key>Answer 2</key>
			<string>Lumos</string>
			<key>Answer 3</key>
			<string>Ferula</string>
			<key>Answer 4</key>
			<string>Confundo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Ginny have a reputation for being good at?</string>
			<key>Correct Answer</key>
			<string>Bat-Bogey Hex</string>
			<key>Answer 1</key>
			<string>The Summoning Charm</string>
			<key>Answer 2</key>
			<string>Bat-Bogey Hex</string>
			<key>Answer 3</key>
			<string>Jelly Legs Jinx</string>
			<key>Answer 4</key>
			<string>The Killing Curse</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell does Harry use in the first task of the Triwizard Tournament?</string>
			<key>Correct Answer</key>
			<string>The Summoning Charm</string>
			<key>Answer 1</key>
			<string>The Killing Curse</string>
			<key>Answer 2</key>
			<string>Bat Bogey Hex</string>
			<key>Answer 3</key>
			<string>The Patronus Charm</string>
			<key>Answer 4</key>
			<string>The Summoning Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The Patronus Charm is used to defeat what?</string>
			<key>Correct Answer</key>
			<string>Dementors</string>
			<key>Answer 1</key>
			<string>Lord Voldemort</string>
			<key>Answer 2</key>
			<string>Dementors</string>
			<key>Answer 3</key>
			<string>Boggarts</string>
			<key>Answer 4</key>
			<string>Goblins</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the first transfiguration students attempt?</string>
			<key>Correct Answer</key>
			<string>Matchsticks into needles</string>
			<key>Answer 1</key>
			<string>Ravens into goblets</string>
			<key>Answer 2</key>
			<string>Matchsticks into needles</string>
			<key>Answer 3</key>
			<string>Quill into ink</string>
			<key>Answer 4</key>
			<string>Conjuring water</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The Aguamenti incantation conjures what?</string>
			<key>Correct Answer</key>
			<string>Water</string>
			<key>Answer 1</key>
			<string>Gold</string>
			<key>Answer 2</key>
			<string>Wine</string>
			<key>Answer 3</key>
			<string>Water</string>
			<key>Answer 4</key>
			<string>Fire</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell is Harry Potter the only known survivor of?</string>
			<key>Correct Answer</key>
			<string>Avada Kedavra</string>
			<key>Answer 1</key>
			<string>Wingardium Leviosa</string>
			<key>Answer 2</key>
			<string>Expecto Patronum</string>
			<key>Answer 3</key>
			<string>Crucio</string>
			<key>Answer 4</key>
			<string>Avada Kedavra</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the most powerful truth potion?</string>
			<key>Correct Answer</key>
			<string>Veritaserum</string>
			<key>Answer 1</key>
			<string>Veritaserum</string>
			<key>Answer 2</key>
			<string>Amortentia</string>
			<key>Answer 3</key>
			<string>Polyjuice</string>
			<key>Answer 4</key>
			<string>Elixir of Life</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The Philosophers Stone allows for the creation of?</string>
			<key>Correct Answer</key>
			<string>Elixir of Life</string>
			<key>Answer 1</key>
			<string>Polyjuice Potion</string>
			<key>Answer 2</key>
			<string>Skelgrow</string>
			<key>Answer 3</key>
			<string>Firewhiskey</string>
			<key>Answer 4</key>
			<string>Elixir of Life</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Where would you look for a Bezoar?</string>
			<key>Correct Answer</key>
			<string>Stomach of a Goat</string>
			<key>Answer 1</key>
			<string>Draco Malfoy&apos;s hair</string>
			<key>Answer 2</key>
			<string>Foot of a Troll</string>
			<key>Answer 3</key>
			<string>Stomach of a Goat</string>
			<key>Answer 4</key>
			<string>Wings of a Hippogriff</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell does Lockhart attempt to curse Harry and Ron with but backfires?</string>
			<key>Correct Answer</key>
			<string>Memory Charm</string>
			<key>Answer 1</key>
			<string>Killing curse</string>
			<key>Answer 2</key>
			<string>Memory Charm</string>
			<key>Answer 3</key>
			<string>Stunning Spell</string>
			<key>Answer 4</key>
			<string>Bat Bogey Hex</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which plant is one of the obstacles guarding the Philosopher&apos;s Stone?&apos;?</string>
			<key>Correct Answer</key>
			<string>Devil&apos;s Snare</string>
			<key>Answer 1</key>
			<string>Devil&apos;s Snare</string>
			<key>Answer 2</key>
			<string>Mandrake</string>
			<key>Answer 3</key>
			<string>Fanged Geranium</string>
			<key>Answer 4</key>
			<string>Puffapod</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which potion do Harry, Ron and Hermione use to sneak into the Slytherin House common room in The Chamber of Secrets?</string>
			<key>Correct Answer</key>
			<string>Polyjuice Potion</string>
			<key>Answer 1</key>
			<string>Draught of Living Death</string>
			<key>Answer 2</key>
			<string>Wolfsbane Potion</string>
			<key>Answer 3</key>
			<string>Polyjuice Potion</string>
			<key>Answer 4</key>
			<string>Murtlap Essence</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which Potion does Horace Slughorn award to Harry in his sixth year at Hogwarts?</string>
			<key>Correct Answer</key>
			<string>Felix Felicis</string>
			<key>Answer 1</key>
			<string>Babbling Beverage</string>
			<key>Answer 2</key>
			<string>Felix Felicis</string>
			<key>Answer 3</key>
			<string>Essence of Dittany</string>
			<key>Answer 4</key>
			<string>Invisibility Potion</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of Essence of Dittany?</string>
			<key>Correct Answer</key>
			<string>Regrow skin over a wound</string>
			<key>Answer 1</key>
			<string>Regrow skin over a wound</string>
			<key>Answer 2</key>
			<string>Extend the taker&apos;s life</string>
			<key>Answer 3</key>
			<string>Relieve anxiety</string>
			<key>Answer 4</key>
			<string>Remove acne</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of the spell that Ron attempts to curse Malfoy with in Harry Potter and the Chamber of Secrets?</string>
			<key>Correct Answer</key>
			<string>He vomits slugs</string>
			<key>Answer 1</key>
			<string>He vomits slugs</string>
			<key>Answer 2</key>
			<string>He gets knocked out</string>
			<key>Answer 3</key>
			<string>He loses his memory</string>
			<key>Answer 4</key>
			<string>He vanishes his own bones</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these cannot be conjured?</string>
			<key>Correct Answer</key>
			<string>Food</string>
			<key>Answer 1</key>
			<string>Food</string>
			<key>Answer 2</key>
			<string>Flames</string>
			<key>Answer 3</key>
			<string>Christmas Decorations</string>
			<key>Answer 4</key>
			<string>Shackles</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>In what year to Hogwarts students learn to Apparate?</string>
			<key>Correct Answer</key>
			<string>6th year</string>
			<key>Answer 1</key>
			<string>5th year</string>
			<key>Answer 2</key>
			<string>4th year</string>
			<key>Answer 3</key>
			<string>3rd year</string>
			<key>Answer 4</key>
			<string>6th year</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What type of creatures pull the carriages from the Hogwarts Express up to Hogwarts?</string>
			<key>Correct Answer</key>
			<string>Thestrals</string>
			<key>Answer 1</key>
			<string>Thestrals</string>
			<key>Answer 2</key>
			<string>Dragons</string>
			<key>Answer 3</key>
			<string>Unicorns</string>
			<key>Answer 4</key>
			<string>Horses</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of consuming Unicorn blood?</string>
			<key>Correct Answer</key>
			<string>Extended life</string>
			<key>Answer 1</key>
			<string>Extended life</string>
			<key>Answer 2</key>
			<string>Shrunken head</string>
			<key>Answer 3</key>
			<string>Eternal happiness</string>
			<key>Answer 4</key>
			<string>No effect</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>When is the trace lifted?</string>
			<key>Correct Answer</key>
			<string>At age 17</string>
			<key>Answer 1</key>
			<string>At age 17</string>
			<key>Answer 2</key>
			<string>At age 18</string>
			<key>Answer 3</key>
			<string>After graduating from Hogwarts</string>
			<key>Answer 4</key>
			<string>After cursing yourself</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>How to Fred and George attempt to trick the Goblet of Fire in to accepting their names?</string>
			<key>Correct Answer</key>
			<string>Ageing Potion</string>
			<key>Answer 1</key>
			<string>Ageing Potion</string>
			<key>Answer 2</key>
			<string>Get a friend to submit their names</string>
			<key>Answer 3</key>
			<string>Levitate their names into the goblet</string>
			<key>Answer 4</key>
			<string>Change their birthdays</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Why are Mandrakes dangerous?</string>
			<key>Correct Answer</key>
			<string>Their scream can kill a human</string>
			<key>Answer 1</key>
			<string>Their scream can kill a human</string>
			<key>Answer 2</key>
			<string>They have extremely sharp teeth</string>
			<key>Answer 3</key>
			<string>They shoot poisonous goo</string>
			<key>Answer 4</key>
			<string>They release toxic fumes</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of the spell Hagrid casts on Dudley in the first novel?</string>
			<key>Correct Answer</key>
			<string>He grows a tail</string>
			<key>Answer 1</key>
			<string>He grows a tail</string>
			<key>Answer 2</key>
			<string>He dies</string>
			<key>Answer 3</key>
			<string>He grows an extra foot</string>
			<key>Answer 4</key>
			<string>He grows ears</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell can Witches and Wizards use to produce light?</string>
			<key>Correct Answer</key>
			<string>Lumos</string>
			<key>Answer 1</key>
			<string>Lumos</string>
			<key>Answer 2</key>
			<string>Lumio</string>
			<key>Answer 3</key>
			<string>Lome</string>
			<key>Answer 4</key>
			<string>Expelliarmus</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>How does Dumbledore enforce the age restriction imposed on the Triwizard Tournament?</string>
			<key>Correct Answer</key>
			<string>Age Line around the Goblet</string>
			<key>Answer 1</key>
			<string>Age Line around the Goblet</string>
			<key>Answer 2</key>
			<string>Filch guards the Goblet</string>
			<key>Answer 3</key>
			<string>Disillusionment Charm to hide the Goblet</string>
			<key>Answer 4</key>
			<string>Circle of flames around the Goblet</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What creature attacks Draco in Hagrid&apos;s Care of Magical Creatures class?</string>
			<key>Correct Answer</key>
			<string>Hippogriff</string>
			<key>Answer 1</key>
			<string>Hippogriff</string>
			<key>Answer 2</key>
			<string>Acromantula</string>
			<key>Answer 3</key>
			<string>Dragon</string>
			<key>Answer 4</key>
			<string>Troll</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which Hogwarts course is taught by a ghost?</string>
			<key>Correct Answer</key>
			<string>History of Magic</string>
			<key>Answer 1</key>
			<string>History of Magic</string>
			<key>Answer 2</key>
			<string>Charms</string>
			<key>Answer 3</key>
			<string>Transfiguration</string>
			<key>Answer 4</key>
			<string>Divination</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>In their fourth year at Hogwarts, what creature did students raise as a project throughout the year?</string>
			<key>Correct Answer</key>
			<string>Blast-Ended Skrewts</string>
			<key>Answer 1</key>
			<string>Blast-Ended Skrewts</string>
			<key>Answer 2</key>
			<string>Nifflers</string>
			<key>Answer 3</key>
			<string>Bowtruckles</string>
			<key>Answer 4</key>
			<string>Fire crabs</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What Christmas present does Harry recieve annonymously in his first year at Hogwarts?</string>
			<key>Correct Answer</key>
			<string>Invisibility Cloak</string>
			<key>Answer 1</key>
			<string>Invisibility Cloak</string>
			<key>Answer 2</key>
			<string>Bertie Bott&apos;s Every Flavour Beans</string>
			<key>Answer 3</key>
			<string>Chocolate Frogs</string>
			<key>Answer 4</key>
			<string>Elder Wand</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these is not a core course in the Hogwarts syllabus?</string>
			<key>Correct Answer</key>
			<string>Divination</string>
			<key>Answer 1</key>
			<string>Divination</string>
			<key>Answer 2</key>
			<string>History of Magic</string>
			<key>Answer 3</key>
			<string>Herbology</string>
			<key>Answer 4</key>
			<string>Charms</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is a dangerous side-effect that can happen when Apparating?</string>
			<key>Correct Answer</key>
			<string>Splinching</string>
			<key>Answer 1</key>
			<string>Splinching</string>
			<key>Answer 2</key>
			<string>Memory Loss</string>
			<key>Answer 3</key>
			<string>Dementia</string>
			<key>Answer 4</key>
			<string>Dragon Pox</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What type of spell is the one that spreads through Dumbledore&apos;s finger?</string>
			<key>Correct Answer</key>
			<string>Curse</string>
			<key>Answer 1</key>
			<string>Curse</string>
			<key>Answer 2</key>
			<string>Hex</string>
			<key>Answer 3</key>
			<string>Jinx</string>
			<key>Answer 4</key>
			<string>Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What creatures guard the Wizard prison, Askaban?</string>
			<key>Correct Answer</key>
			<string>Dementors</string>
			<key>Answer 1</key>
			<string>Dementors</string>
			<key>Answer 2</key>
			<string>Dragons</string>
			<key>Answer 3</key>
			<string>Bowtruckles</string>
			<key>Answer 4</key>
			<string>Giants</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the effect of a Dementor&apos;s Kiss?</string>
			<key>Correct Answer</key>
			<string>Loss of Soul</string>
			<key>Answer 1</key>
			<string>Loss of Soul</string>
			<key>Answer 2</key>
			<string>Death</string>
			<key>Answer 3</key>
			<string>Euphoria</string>
			<key>Answer 4</key>
			<string>Pain</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which Unforgivable Curse(s) does Harry use?</string>
			<key>Correct Answer</key>
			<string>Imperio and Crucio</string>
			<key>Answer 1</key>
			<string>Imperio and Crucio</string>
			<key>Answer 2</key>
			<string>Imperio, Crucio, and Avada Kedavra</string>
			<key>Answer 3</key>
			<string>Avada Kedavra</string>
			<key>Answer 4</key>
			<string>He never uses an Unforgivable curse</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>How does the Sorting Hat aid Harry in the Chamber of Secrets?</string>
			<key>Correct Answer</key>
			<string>It presents him with Gryffindor&apos;s sword</string>
			<key>Answer 1</key>
			<string>It kills the Basilisk</string>
			<key>Answer 2</key>
			<string>It presents him with Gryffindor&apos;s sword</string>
			<key>Answer 3</key>
			<string>It pokes out the Basilisk&apos;s eye</string>
			<key>Answer 4</key>
			<string>It shouts words of encouragement</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What do Ron and Hermione find in the Chamber of Secrets that can kill Horcruxes?</string>
			<key>Correct Answer</key>
			<string>Basilisk Fangs</string>
			<key>Answer 1</key>
			<string>Basilisk Fangs</string>
			<key>Answer 2</key>
			<string>Sword of Gryffindor</string>
			<key>Answer 3</key>
			<string>Stinging Nettles</string>
			<key>Answer 4</key>
			<string>Blood-Soaked Dagger</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What deed must one perform to create a Horcrux?</string>
			<key>Correct Answer</key>
			<string>Murder Someone</string>
			<key>Answer 1</key>
			<string>Murder Someone</string>
			<key>Answer 2</key>
			<string>Love Someone</string>
			<key>Answer 3</key>
			<string>Give a blood sacrifice</string>
			<key>Answer 4</key>
			<string>Throw a party</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these is not one of Voldemort&apos;s Horcruxes?</string>
			<key>Correct Answer</key>
			<string>Snape&apos;s Potions Textbook</string>
			<key>Answer 1</key>
			<string>Tom Riddle&apos;s Diary</string>
			<key>Answer 2</key>
			<string>Gaunt&apos;s Ring</string>
			<key>Answer 3</key>
			<string>Slytherin&apos;s Locket</string>
			<key>Answer 4</key>
			<string>Snape&apos;s Potions Textbook</string>
		</dict>
	</array>
	<key>Medium</key>
	<array>
		<dict>
			<key>Question</key>
			<string>What is the consequence of breaking an unbreakable vow?</string>
			<key>Correct Answer</key>
			<string>You Die</string>
			<key>Answer 1</key>
			<string>You Die</string>
			<key>Answer 2</key>
			<string>You&apos;re Cursed</string>
			<key>Answer 3</key>
			<string>You Shrink</string>
			<key>Answer 4</key>
			<string>You Disappear</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell does Hermione use to set a flock of birds on Ron?</string>
			<key>Correct Answer</key>
			<string>Avis</string>
			<key>Answer 1</key>
			<string>Avis</string>
			<key>Answer 2</key>
			<string>Avifors</string>
			<key>Answer 3</key>
			<string>Avios</string>
			<key>Answer 4</key>
			<string>Avifo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which charm, which enforces the Hogsmeade curfew, produces a loud screech when someone steps into it&apos;s radius? </string>
			<key>Correct Answer</key>
			<string>Caterwauling Charm</string>
			<key>Answer 1</key>
			<string>Caterwauling Charm</string>
			<key>Answer 2</key>
			<string>Intruder Charm</string>
			<key>Answer 3</key>
			<string>Revealing Charm</string>
			<key>Answer 4</key>
			<string>Bubble-Head Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Hermione cast to freeze the pixies in Professor Lockhart&apos;s class?</string>
			<key>Correct Answer</key>
			<string>Immobolus</string>
			<key>Answer 1</key>
			<string>Immobolus</string>
			<key>Answer 2</key>
			<string>Impedimenta</string>
			<key>Answer 3</key>
			<string>Inanimatus Conjurus</string>
			<key>Answer 4</key>
			<string>Incarcerous</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Whis spell does Dumbledore use to save Harry when he falls off his broom during a Quidditch match?</string>
			<key>Correct Answer</key>
			<string>Aresto Momentum</string>
			<key>Answer 1</key>
			<string>Ascendio</string>
			<key>Answer 2</key>
			<string>Anteoculatia</string>
			<key>Answer 3</key>
			<string>Aresto Momentum</string>
			<key>Answer 4</key>
			<string>Baubillious</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The curse whose incantation is &quot;Mucus ad Nauseam&quot; has what effect on it&apos;s target?</string>
			<key>Correct Answer</key>
			<string>An extremely runny nose</string>
			<key>Answer 1</key>
			<string>An extremely runny nose</string>
			<key>Answer 2</key>
			<string>A massive headache</string>
			<key>Answer 3</key>
			<string>Lack of airflow to lungs</string>
			<key>Answer 4</key>
			<string>Enlarged ears</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Depulso (Banishing charm) has the opposite effect to which spell?</string>
			<key>Correct Answer</key>
			<string>Accio</string>
			<key>Answer 1</key>
			<string>Accio</string>
			<key>Answer 2</key>
			<string>Crucio</string>
			<key>Answer 3</key>
			<string>Defodio</string>
			<key>Answer 4</key>
			<string>Confringo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell causes the target to swell in physical size?</string>
			<key>Correct Answer</key>
			<string>Engorgio</string>
			<key>Answer 1</key>
			<string>Engorgio</string>
			<key>Answer 2</key>
			<string>Entomorphis</string>
			<key>Answer 3</key>
			<string>Evanesce</string>
			<key>Answer 4</key>
			<string>Incarcerous</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Locomotor Wibbly is known by what other name?</string>
			<key>Correct Answer</key>
			<string>Jelly-Legs Curse</string>
			<key>Answer 1</key>
			<string>Jelly-Legs Curse</string>
			<key>Answer 2</key>
			<string>Jelly-Brain Jinx</string>
			<key>Answer 3</key>
			<string>Jelly-Fingers Curse</string>
			<key>Answer 4</key>
			<string>Jelly-Arms Curse</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell does James Potter cast on Severus Snape in his teenage years, that levitates Snape upside-down by his ankles?</string>
			<key>Correct Answer</key>
			<string>Levicorpus</string>
			<key>Answer 1</key>
			<string>Levicorpus</string>
			<key>Answer 2</key>
			<string>Liberacorpus</string>
			<key>Answer 3</key>
			<string>Wingardium-Corpus</string>
			<key>Answer 4</key>
			<string>Corpus-Leviosa</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What curse prevents witches and wizards from discussing the location of Grimmault place, when it acts as the headquarters for the Order?</string>
			<key>Correct Answer</key>
			<string>Tongue-Tying Curse</string>
			<key>Answer 1</key>
			<string>Tongue-Tying Curse</string>
			<key>Answer 2</key>
			<string>Full Body-Bind Curse</string>
			<key>Answer 3</key>
			<string>Reductor Curse</string>
			<key>Answer 4</key>
			<string>Conjunctivitis Curse</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which potion does Harry brew in Slughorn&apos;s class to win a vial of Felix Felicis?</string>
			<key>Correct Answer</key>
			<string>Draught of Living Death</string>
			<key>Answer 1</key>
			<string>Draught of Living Death</string>
			<key>Answer 2</key>
			<string>Draught of Dying</string>
			<key>Answer 3</key>
			<string>Lifeless Draught</string>
			<key>Answer 4</key>
			<string>Invigoration Draught</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Wolfsbane potion eases the symptoms of what?</string>
			<key>Correct Answer</key>
			<string>Lycanthropy</string>
			<key>Answer 1</key>
			<string>Rhumanthropy</string>
			<key>Answer 2</key>
			<string>Tyronthropy</string>
			<key>Answer 3</key>
			<string>Lycanthropy</string>
			<key>Answer 4</key>
			<string>Ayanthropy</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which potion did Voldemort use to protect Salazar Slytherin&apos;s locket (a horcrux)?</string>
			<key>Correct Answer</key>
			<string>Drink of Despair</string>
			<key>Answer 1</key>
			<string>Drink of Despair</string>
			<key>Answer 2</key>
			<string>Dragon Poison</string>
			<key>Answer 3</key>
			<string>Baneberry Poision</string>
			<key>Answer 4</key>
			<string>Dogbane Potion</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>At the start of the Quidditch World Cup, which spell does Bagman use to increase the volume of his voice as he announces the game?</string>
			<key>Correct Answer</key>
			<string>Sonorus</string>
			<key>Answer 1</key>
			<string>Sonorus</string>
			<key>Answer 2</key>
			<string>Amplifie</string>
			<key>Answer 3</key>
			<string>Incantum Sonar</string>
			<key>Answer 4</key>
			<string>Volum Maxima</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell, which caused her to grow antlers, was used on Pansy Parkinson during a student rebellion after Fred and George&apos;s departure from Hogwarts?</string>
			<key>Correct Answer</key>
			<string>Anteoculatia</string>
			<key>Answer 1</key>
			<string>Anteoculatia</string>
			<key>Answer 2</key>
			<string>Antlamoria</string>
			<key>Answer 3</key>
			<string>Antleroneo</string>
			<key>Answer 4</key>
			<string>Aparceium</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell blasts away arachnids?</string>
			<key>Correct Answer</key>
			<string>Arania Exumai</string>
			<key>Answer 1</key>
			<string>Arania Exumai</string>
			<key>Answer 2</key>
			<string>Arania Expulso</string>
			<key>Answer 3</key>
			<string>Arachnia Expulso</string>
			<key>Answer 4</key>
			<string>Arachnia Aspiria</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Lockhart unsuccessfuly tries to fix Harry&apos;s broken arm after he falls from his broom with which spell?</string>
			<key>Correct Answer</key>
			<string>Brackium Emendo</string>
			<key>Answer 1</key>
			<string>Brackium Emendo</string>
			<key>Answer 2</key>
			<string>Skele-Gro</string>
			<key>Answer 3</key>
			<string>Corpio Mendes</string>
			<key>Answer 4</key>
			<string>Skeleta Engorgio</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these charms is NOT included in Harry&apos;s OWL exam for Charms.</string>
			<key>Correct Answer</key>
			<string>Cushioning Charm</string>
			<key>Answer 1</key>
			<string>Cushioning Charm</string>
			<key>Answer 2</key>
			<string>Cheering Charm</string>
			<key>Answer 3</key>
			<string>Levitation Charm</string>
			<key>Answer 4</key>
			<string>Color Change Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What did Crabbe conjure in the final novel that ultimately resulted in his death?</string>
			<key>Correct Answer</key>
			<string>Fiendfyre</string>
			<key>Answer 1</key>
			<string>Fiendfyre</string>
			<key>Answer 2</key>
			<string>Firestorm</string>
			<key>Answer 3</key>
			<string>Bluebell flames</string>
			<key>Answer 4</key>
			<string>Bewitched Snowballs</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What charm did medieval witches use to protect themselves during witch burnings?</string>
			<key>Correct Answer</key>
			<string>Flame-Freezing Charm</string>
			<key>Answer 1</key>
			<string>Flame-Freezing Charm</string>
			<key>Answer 2</key>
			<string>Flame-Repelling Charm</string>
			<key>Answer 3</key>
			<string>Fire-Extinguishing Charm</string>
			<key>Answer 4</key>
			<string>Flame-Protection Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Hermione use to detect the presence of humans in Grimmauld place?</string>
			<key>Correct Answer</key>
			<string>Homenum Revelio</string>
			<key>Answer 1</key>
			<string>Homenum Revelio</string>
			<key>Answer 2</key>
			<string>Homeosape Revel</string>
			<key>Answer 3</key>
			<string>Homenum Expelia</string>
			<key>Answer 4</key>
			<string>Homeorevel</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The Impervius Charm has what effect?</string>
			<key>Correct Answer</key>
			<string>It repels substance</string>
			<key>Answer 1</key>
			<string>It repels substance</string>
			<key>Answer 2</key>
			<string>It controls the mind</string>
			<key>Answer 3</key>
			<string>It makes the target cry</string>
			<key>Answer 4</key>
			<string>It makes doors impenetrable</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>In Harry&apos;s private lessons with Professor Snape, what is he learning to protect himself against?</string>
			<key>Correct Answer</key>
			<string>Legilimency</string>
			<key>Answer 1</key>
			<string>Legilimency</string>
			<key>Answer 2</key>
			<string>The Imperio Curse</string>
			<key>Answer 3</key>
			<string>Voldemort&apos;s Horcrux</string>
			<key>Answer 4</key>
			<string>Prior Incantato</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the name of the magical phenomenon that occurs when two wands that share the same core are forced to compete in combat?</string>
			<key>Correct Answer</key>
			<string>Priori Incantatem</string>
			<key>Answer 1</key>
			<string>Priori Incantatem</string>
			<key>Answer 2</key>
			<string>Prior Incantato</string>
			<key>Answer 3</key>
			<string>Priorita Incantem</string>
			<key>Answer 4</key>
			<string>Prioincantema</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>The Prior Incantato spell has what effect when pointed at a wand?</string>
			<key>Correct Answer</key>
			<string>It shows the last spell it performed</string>
			<key>Answer 1</key>
			<string>It shows the last spell it performed</string>
			<key>Answer 2</key>
			<string>It removes all it&apos;s magical capabilities</string>
			<key>Answer 3</key>
			<string>It reduces the wand to ash</string>
			<key>Answer 4</key>
			<string>It increases the wand&apos;s power</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell is used to make the target release whatever it is holding or binding?</string>
			<key>Correct Answer</key>
			<string>Relashio</string>
			<key>Answer 1</key>
			<string>Relashio</string>
			<key>Answer 2</key>
			<string>Rennervate</string>
			<key>Answer 3</key>
			<string>Reparifors</string>
			<key>Answer 4</key>
			<string>Reducto</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Rennervate reverses the effects of what?</string>
			<key>Correct Answer</key>
			<string>Being Stunned</string>
			<key>Answer 1</key>
			<string>Being Stunned</string>
			<key>Answer 2</key>
			<string>Being Burned</string>
			<key>Answer 3</key>
			<string>Being Disfigured</string>
			<key>Answer 4</key>
			<string>Being Tired</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Rictusempra induces what sensation?</string>
			<key>Correct Answer</key>
			<string>Tickling</string>
			<key>Answer 1</key>
			<string>Tickling</string>
			<key>Answer 2</key>
			<string>Smiling</string>
			<key>Answer 3</key>
			<string>Laughing</string>
			<key>Answer 4</key>
			<string>Sleeping</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which hex does Hermione cast on Harry to hide his true identity from the snatchers?</string>
			<key>Correct Answer</key>
			<string>Stinging Hex</string>
			<key>Answer 1</key>
			<string>Stinging Hex</string>
			<key>Answer 2</key>
			<string>Bat-Bogey Hex</string>
			<key>Answer 3</key>
			<string>Bedazzling Hex</string>
			<key>Answer 4</key>
			<string>Hurling Hex</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which curse showed the snatchers the location of Harry Potter in the Second Wizarding War?</string>
			<key>Correct Answer</key>
			<string>The Taboo Curse</string>
			<key>Answer 1</key>
			<string>The Taboo Curse</string>
			<key>Answer 2</key>
			<string>The Imperius Curse</string>
			<key>Answer 3</key>
			<string>The Babbling Curse</string>
			<key>Answer 4</key>
			<string>The Ear-Shrivelling Curse</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>In Harry&apos;s final transfiguration exam of his third year at Hogwarts, which transforming spell is he required to perform?</string>
			<key>Correct Answer</key>
			<string>Teapot to Tortoise</string>
			<key>Answer 1</key>
			<string>Teapot to Tortoise</string>
			<key>Answer 2</key>
			<string>Human to Chicken</string>
			<key>Answer 3</key>
			<string>Snail to Teapot</string>
			<key>Answer 4</key>
			<string>Raven to Writing Desk</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these is not a piece of security in Gringotts?</string>
			<key>Correct Answer</key>
			<string>Veritaserum</string>
			<key>Answer 1</key>
			<string>The Gemino Charm</string>
			<key>Answer 2</key>
			<string>A Dragon</string>
			<key>Answer 3</key>
			<string>The Thief&apos;s Downfall</string>
			<key>Answer 4</key>
			<string>Veritaserum</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the incantation to transform an animal into a water goblet?</string>
			<key>Correct Answer</key>
			<string>Vera Verto</string>
			<key>Answer 1</key>
			<string>Vera Verto</string>
			<key>Answer 2</key>
			<string>Vero Verta</string>
			<key>Answer 3</key>
			<string>Piertotum Locomotor</string>
			<key>Answer 4</key>
			<string>Vipera Evanesca</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these love potions is the strongest?</string>
			<key>Correct Answer</key>
			<string>Amortentia</string>
			<key>Answer 1</key>
			<string>Amortentia</string>
			<key>Answer 2</key>
			<string>Cupid Crystals</string>
			<key>Answer 3</key>
			<string>Beguiling Bubbles</string>
			<key>Answer 4</key>
			<string>Twilight Moonbeams</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which potion does Hagrid look for in Knockturn alley in the summer of 1992?</string>
			<key>Correct Answer</key>
			<string>Flesh-Eating Slug Repellent</string>
			<key>Answer 1</key>
			<string>Flesh-Eating Slug Repellent</string>
			<key>Answer 2</key>
			<string>Draught of Despair</string>
			<key>Answer 3</key>
			<string>Exploding Potion</string>
			<key>Answer 4</key>
			<string>Noxious Potion</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these creatures was not part of Professor Lupin&apos;s curriculum when he taught Defense Against the Dark Arts at Hogwarts?</string>
			<key>Correct Answer</key>
			<string>Cornish Pixies</string>
			<key>Answer 1</key>
			<string>Grindylows</string>
			<key>Answer 2</key>
			<string>Hinkypunks</string>
			<key>Answer 3</key>
			<string>Vampires</string>
			<key>Answer 4</key>
			<string>Cornish Pixies</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What happens when Bubotuber pus comes in contact with human skin?</string>
			<key>Correct Answer</key>
			<string>Boils appear</string>
			<key>Answer 1</key>
			<string>Boils appear</string>
			<key>Answer 2</key>
			<string>A rash forms</string>
			<key>Answer 3</key>
			<string>It sticks to your skin</string>
			<key>Answer 4</key>
			<string>It burns your skin</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Mimbulus Mimbletonia spews what when touched?</string>
			<key>Correct Answer</key>
			<string>Stinksap</string>
			<key>Answer 1</key>
			<string>Stinksap</string>
			<key>Answer 2</key>
			<string>Bubotuber Pus</string>
			<key>Answer 3</key>
			<string>Draught of Living Death</string>
			<key>Answer 4</key>
			<string>Elixir of Life</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these tree&apos;s wood is not used in the making of wands</string>
			<key>Correct Answer</key>
			<string>Palm</string>
			<key>Answer 1</key>
			<string>Oak</string>
			<key>Answer 2</key>
			<string>Yew</string>
			<key>Answer 3</key>
			<string>Cherry</string>
			<key>Answer 4</key>
			<string>Palm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which of these dragons was not in the Triwizard Tournament?</string>
			<key>Correct Answer</key>
			<string>Ukranian Ironbelly</string>
			<key>Answer 1</key>
			<string>Ukranian Ironbelly</string>
			<key>Answer 2</key>
			<string>Hungarian Horntail</string>
			<key>Answer 3</key>
			<string>Common Welsh Creen</string>
			<key>Answer 4</key>
			<string>Norweigan Ridgeback</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What do niffler&apos;s sniff out?</string>
			<key>Correct Answer</key>
			<string>Shiny Treasure</string>
			<key>Answer 1</key>
			<string>Shiny Treasure</string>
			<key>Answer 2</key>
			<string>Dead Wizards</string>
			<key>Answer 3</key>
			<string>Lava Rocks</string>
			<key>Answer 4</key>
			<string>Wands</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What piece of jewellery holds the curse that hits Katie Bell when she touches it?</string>
			<key>Correct Answer</key>
			<string>Necklace</string>
			<key>Answer 1</key>
			<string>Ring</string>
			<key>Answer 2</key>
			<string>Bracelet</string>
			<key>Answer 3</key>
			<string>Necklace</string>
			<key>Answer 4</key>
			<string>Anklet</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>How does Umbridge torture her students in detention?</string>
			<key>Correct Answer</key>
			<string>A Blood Quill</string>
			<key>Answer 1</key>
			<string>A Blood Quill</string>
			<key>Answer 2</key>
			<string>She Curses Them</string>
			<key>Answer 3</key>
			<string>She Hits Them</string>
			<key>Answer 4</key>
			<string>Crucio</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What charm does Hermione use to expand the space available inside her handbag in the Deathly Hallows?</string>
			<key>Correct Answer</key>
			<string>Undetectable Extension Charm</string>
			<key>Answer 1</key>
			<string>Undetectable Extension Charm</string>
			<key>Answer 2</key>
			<string>Expanding Space Charm</string>
			<key>Answer 3</key>
			<string>Increased Area Charm</string>
			<key>Answer 4</key>
			<string>Never-Full Charm</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Why does Rita Skeeter get stuck in her Animagus form?</string>
			<key>Correct Answer</key>
			<string>The jar she is held in prevents her from transforming</string>
			<key>Answer 1</key>
			<string>The jar she is held in prevents her from transforming</string>
			<key>Answer 2</key>
			<string>She loses her magical abilities</string>
			<key>Answer 3</key>
			<string>She dies in her animagus form</string>
			<key>Answer 4</key>
			<string>She swears a vow to never transform back</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Harry use to fill Dumbledore&apos;s crystal goblet with water in the Horcrux cave?</string>
			<key>Correct Answer</key>
			<string>Aguamenti</string>
			<key>Answer 1</key>
			<string>Aguamenti</string>
			<key>Answer 2</key>
			<string>Aquamenta</string>
			<key>Answer 3</key>
			<string>Agua-Conjurus</string>
			<key>Answer 4</key>
			<string>Agua Eructo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What spell does James Potter use on Severus Snape that prevents Snape from moving towards James?</string>
			<key>Correct Answer</key>
			<string>Impedimenta</string>
			<key>Answer 1</key>
			<string>Impedimenta</string>
			<key>Answer 2</key>
			<string>Locomotor Wibbly</string>
			<key>Answer 3</key>
			<string>Mobiliarbus</string>
			<key>Answer 4</key>
			<string>Protego Horribilis</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>What is the incantation for the spell that Lockhart unsuccessfuly uses to get rid of the pixies in his classrom?</string>
			<key>Correct Answer</key>
			<string>Peskipiksi Pesternomi</string>
			<key>Answer 1</key>
			<string>Peskipiksi Pesternomi</string>
			<key>Answer 2</key>
			<string>Piksi Pestroni</string>
			<key>Answer 3</key>
			<string>Peski Pixies Nomi</string>
			<key>Answer 4</key>
			<string>Peskipsi Postoni</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which charm fills the ears of anyone in the vicinity with a buzzing noise?</string>
			<key>Correct Answer</key>
			<string>Muffliato Charm</string>
			<key>Answer 1</key>
			<string>Muffliato Charm</string>
			<key>Answer 2</key>
			<string>Caterwauling Charm</string>
			<key>Answer 3</key>
			<string>Fidelius Charm</string>
			<key>Answer 4</key>
			<string>Homorphus Charm</string>
		</dict>
	</array>
	<key>Hard</key>
	<array>
		<dict>
			<key>Question</key>
			<string>Which spell does Lockhart use unsuccessfully during duelling club to banish the snake that has been set on Harry?</string>
			<key>Correct Answer</key>
			<string>Alarte Ascendare</string>
			<key>Answer 1</key>
			<string>Alarte Ascendare</string>
			<key>Answer 2</key>
			<string>Crucio</string>
			<key>Answer 3</key>
			<string>Defodio</string>
			<key>Answer 4</key>
			<string>Confringo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Horace Slughorn use on Marcus Belby to clear his airway while choking on pheasant?</string>
			<key>Correct Answer</key>
			<string>Anapneo</string>
			<key>Answer 1</key>
			<string>Anapneo</string>
			<key>Answer 2</key>
			<string>Anteoculatia</string>
			<key>Answer 3</key>
			<string>Ascenda Oesophago</string>
			<key>Answer 4</key>
			<string>Arania Eructo</string>
		</dict>
		<dict>
			<key>Question</key>
			<string>Which spell does Ollivander use to test Fleur&apos;s wand before the Tri-Wizard Tournament?</string>
			<key>Correct Answer</key>
			<string>Orchideous</string>
			<key>Answer 1</key>
			<string>Orchideous</string>
			<key>Answer 2</key>
			<string>Deletrius</string>
			<key>Answer 3</key>
			<string>Lumos</string>
			<key>Answer 4</key>
			<string>Muffliato</string>
		</dict>
        <dict>
          <key>Question</key>
          <string>What is the twelfth use of Dragon's Blood?</string>
          <key>Correct Answer</key>
          <string>Oven Cleaning</string>
          <key>Answer 1</key>
          <string>Oven Cleaning</string>
          <key>Answer 2</key>
          <string>Deadly Poison</string>
          <key>Answer 3</key>
          <string>Immortality</string>
          <key>Answer 4</key>
          <string>Curing Wounds</string>
		</dict>
	</array>
</dict>
</plist>
